.env
.idea/
node_modules
sites/default/config/.htaccess
bower_components

sites/*/files
sites/*/settings*.php
sites/*/services*.yml
sites/*/private
sites/simpletest

core/phpcs.xml
core/phpunit.xml

sites/all/themes/*/node_modules
sites/all/themes/*/bower_components
themes/dvc_theme/node_modules/
themes/dvc_theme/bower_components/
