@import 'init';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.wrapper-header {
  background: url(../../../images-source/top-bg.png) no-repeat center top;
  background-size: contain;
}

.header,
%header {
  @include spacing(max-width, 1170px);
  @include spacing(padding-top, 30px);
  background: url(../../../images-source/logo-bg.png) no-repeat center;
  background-position: 60% 73%;
  margin: 0 auto;

  .site-logo {
    @include spacing(width, 251px);
    display: block;
  }
}
