<div class="l-footer clearfix">
  {{ title_suffix.contextual_links }}
  <div class="left">{{ content.left }}</div>
  <div class="center">{{ content.center }}</div>
  <div class="right">{{ content.right }}</div>
</div>
