/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.dev-company {
  padding-bottom: 0.3125rem;
  padding-top: 0.625rem;
  background: #01ce07;
  clear: both;
  text-align: right;
}

.dev-company .text-formatted {
  max-width: 66.5625rem;
  margin: 0 auto;
}

.dev-company p {
  color: #fff;
}

.footer-wrapper {
  max-width: 73.125rem;
  margin: 0 auto;
}

.first-footer {
  background: rgba(227, 227, 227, 0.5);
  padding-bottom: 1.5625rem;
}

.our-partners h2 {
  position: relative;
}

.our-partners h2::before {
  height: 0.75rem;
  left: 1.5625rem;
  top: 3.4375rem;
  width: 7.375rem;
  background: #01ce07;
  content: '';
  display: block;
  position: absolute;
}

.our-partners p {
  margin-top: 1.5625rem;
  font-size: 1rem;
}

.partners .view-content {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.partners .views-row {
  display: inline-block;
  text-align: center;
  width: 25%;
}

.about-us {
  margin-right: 3.6875rem;
  float: left;
  position: relative;
  width: 25%;
}

.about-us::before {
  height: 0.375rem;
  left: 1.5625rem;
  top: 4.5625rem;
  width: 3.5625rem;
  background: #b4b4b4;
  content: '';
  display: block;
  position: absolute;
}

.about-us h2 {
  font-size: 1.125rem;
  font-style: normal;
}

.about-us .text-formatted p {
  line-height: 1.125rem;
}

.last-news {
  margin-right: 3.625rem;
  float: left;
  position: relative;
  width: 25%;
}

.last-news::before {
  height: 0.375rem;
  left: 1.5625rem;
  top: 4.5625rem;
  width: 3.5625rem;
  background: #b4b4b4;
  content: '';
  display: block;
  position: absolute;
}

.last-news h2 {
  font-size: 1.125rem;
  font-style: normal;
}

.last-news .views-row {
  margin-top: 2.5rem;
}

.last-news .views-row:last-of-type {
  margin-top: 0.9375rem;
}

.last-news .left {
  float: left;
  width: 30%;
}

.last-news .right {
  float: right;
  width: 70%;
}

.last-news .right .field {
  padding-left: 0.3125rem;
  padding-right: 1.875rem;
}

.last-news .field--name-node-title {
  background: #f0f0f0;
}

.last-news .field--name-node-title p {
  line-height: 0.9375rem;
  font-weight: 600;
  font-size: 0.5625rem;
  margin: 0;
}

.last-news .field--name-node-post-date,
.last-news .field--name-dynamic-token-fieldnode-ds-field-count-comment p,
.last-news .text-formatted p {
  line-height: 0.625rem;
  font-size: 0.5rem;
}

.last-news .text-formatted p {
  margin-top: 0.3125rem;
  margin-bottom: 0;
}

.last-news .field--name-dynamic-token-fieldnode-ds-field-count-comment p {
  margin: 0;
  position: relative;
}

.last-news .field--name-dynamic-token-fieldnode-ds-field-count-comment p::before {
  height: 0.625rem;
  right: -1.875rem;
  width: 1.5rem;
  background: url(../../../images-source/heco.png) no-repeat center;
  bottom: 0;
  content: '';
  display: block;
  position: absolute;
}

.last-news .field--name-dynamic-token-fieldnode-ds-field-count-comment,
.last-news .field--name-node-post-date {
  display: inline-block;
}

.last-news .more-link {
  margin-bottom: 1.125rem;
  margin-top: 0.3125rem;
}

.last-news .more-link a {
  color: #151515;
  font-size: 0.625rem;
}

.social {
  float: left;
  position: relative;
  width: 25%;
}

.social::before {
  height: 0.375rem;
  left: 1.5625rem;
  top: 4.5625rem;
  width: 3.5625rem;
  background: #b4b4b4;
  content: '';
  display: block;
  position: absolute;
}

.social h2 {
  font-size: 1.125rem;
  font-style: normal;
}

.social .text-formatted p {
  line-height: 1.125rem;
}

.social .field--type-link > .field__item {
  margin-right: 0.9375rem;
  display: inline-block;
}

.social .field--type-link > .field__item a {
  height: 2.5625rem;
  width: 2.5625rem;
  display: block;
  font-size: 0;
}

.social .field--type-link > .field__item:first-child a {
  background: url(../../../images-source/google.png) no-repeat center;
}

.social .field--type-link > .field__item:nth-child(2) a {
  background: url(../../../images-source/dribbble.png) no-repeat center;
}

.social .field--type-link > .field__item:nth-child(3) {
  background: url(../../../images-source/twitter.png) no-repeat center;
}

.social .field--type-link > .field__item:last-child a {
  background: url(../../../images-source/facebook.png) no-repeat center;
}

.menu-wrapper {
  padding: 0.3125rem 0;
  background: url(../../../images-source/menu-bg.png) no-repeat center;
  background-size: cover;
}

.main-menu {
  max-width: 73.125rem;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
}

.main-menu li::before {
  display: none;
}

.main-menu .menu--main {
  margin-left: -0.9375rem;
  margin-right: 0.5rem;
  width: 58.125rem;
  float: left;
}

.main-menu .menu--main ul.menu {
  display: -webkit-box;
  display: flex;
}

.main-menu .menu--main li {
  display: inline-block;
  -webkit-box-flex: 1;
          flex: 1 1 100%;
  padding-top: 0;
}

.main-menu .menu--main li a {
  color: #fff;
  font-size: 1.25rem;
}

.main-menu .menu--main li a.is-active {
  background: #a0ff25;
  font-style: italic;
  padding: 20px 14px;
  text-decoration: none;
  text-shadow: 1px 2px 26.73px #0a130c;
}

.main-menu .block-search {
  margin-right: 0.5625rem;
  width: 11.875rem;
  float: left;
}

.main-menu .block-search h2,
.main-menu .block-search input[type="submit"] {
  display: none;
}

.main-menu .block-language {
  width: 3rem;
  float: right;
}

.main-menu .block-language ul.links {
  padding-left: 0;
}

.main-menu .block-language li {
  margin-right: 0.375rem;
  display: inline-block;
}

.main-menu .block-language li:last-of-type {
  margin-right: 0;
}

.main-menu .block-language li a {
  height: 1.1875rem;
  width: 1.3125rem;
  display: block;
  font-size: 0;
}

.main-menu .block-language .uk a {
  background: url(../../../images-source/ua.png) no-repeat center;
}

.main-menu .block-language .ru a {
  background: url(../../../images-source/ru.png) no-repeat center;
}

.logo-footer {
  padding-top: 2.1875rem;
  margin-right: 0.9375rem;
  width: 10rem;
  float: left;
}

/*# sourceMappingURL=page-elements.css.map */
